body {
    margin: 0px;
    padding: 0px;
    background: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-around;
    margin: auto;
    border-bottom: 2px solid #262626;
    height: 60px;
    background: rgba(0, 151, 19, 0.1);
}

header h1 {
    margin: auto;
    font-family: Calibri;
}

.nav {
    margin: auto;
}

.nav a {
    text-decoration: none;
    color: black;
    padding: 0px 20px 0px 20px;
    font-weight: bold;
    font-family: Calibri;
}

.nav a:hover {
    color: #e74c3c;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    height: 853px;
}

.container h1 {
    color: #f4f4f4;
    font-family: Calibri;
}

.container .registration {
    margin: auto;
    background: rgba(67, 78, 68, 0.2);
    padding: 30px 20px 20px 30px;
    border-radius: 20px;
}

.container .login {
    margin: auto;
    background: rgba(67, 78, 68, 0.2);
    padding: 30px 20px 20px 30px;
    border-radius: 20px;
}

::placeholder {
    color: #f4f4f4;
}

.ibox {
    background: transparent;
    border: none;
    text-align: center;
    border: 2px solid #ff7675;
    border-radius: 20px;
    color: white;
    outline: none;
    width: 250px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
}

.btn {
    background: orange;
    border: none;
    text-align: center;
    border-radius: 20px;
    color: #f4f4f4;
    outline: none;
    width: 100px;
    height: 30px;
}

.ibox::-webkit-inner-spin-button,
.iboxx::-webkit-outer-spin-button {
    -webkit-appearance: none;
}







@media only screen and (max-width:500px) {
    header {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    .container .registration {
        margin-bottom: 20px;
    }

}